.lmj-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  padding-top: 30px;
}

.lmj-categories-select {
  margin-right: 15px;
}

input {
  margin-left: 1rem;
}
